*{
    box-sizing: border-box;
    font-family: sans-serif;
}
.app-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.app-container h1{
    font-weight: 600;
    font-size: 18px;
    color: rgb(100, 26, 211);
    border-bottom: 1px solid #166cdb;
    padding: 10px 0px;
}
.qr-code-image{
    padding: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1) ;
}
.input-label{
    display: block;
    margin-bottom: 10px;
    color:rgb(100, 26, 211);
    font-size: 15px;
    font-weight: 500;
}
input[type="text"]{
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    border: 2px solid rgb(100, 26, 211);
    border-radius: 5px;
}
button{
    padding: 15px 20px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: backgroundColor 0.3s;
}
.generate-button{
    background-color: rgb(122, 63, 210);
}
.generate-button:hover{
    background-color: rgb(92, 52, 151);
}
.generate-button:disabled{
    background-color: #bdc3c7;
    cursor: not-allowed;
}
.download-button{
    background-color:rgba(0, 248, 248, 0.99);
    margin-left: 20px;
}
.download-button:hover{
    background-color:rgba(57, 193, 193, 0.99) ;
}
.footer{
    margin-top: 5%;
}
.footer a{
    text-decoration: none;
    color: rgb(100, 26, 211);
    
}

